html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// code block title style
.rehype-code-title {
  margin-top: 1.3rem;
  padding: 0.1em 1em;

  background-color: black;
  color: white;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  display: inline-block;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

// override zenn css style!
.markdown-body-style-from-zenn pre {
  border-top-left-radius: 0 !important;
  margin-top: 0 !important;
}

.rlc-container {
  display: flex;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 16px;

  // override zenn style!
  &:hover {
    text-decoration: none !important;
    background-color: whitesmoke;
  }

  .rlc-info {
    margin: auto 16px;
    padding: 16px 0;
    flex: 3;
    overflow: hidden;
    color: black;

    .rlc-title {
      font-weight: bold;
    }

    .rlc-description {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: gray;
      font-size: 0.8rem;
    }

    .rlc-url-container {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 0.8rem;

      .rlc-favicon {
        margin: 0;
        height: 16px;
        width: 16px;
      }
    }
  }

  .rlc-image-container {
    flex: 1;
  }
}
