
.table-of-contents {
  text-align: center;
  @media (min-width: 768px) {
    max-width: 30%;
  }
  margin: 80px auto;

  &::before {
    content:"目次";
    font-weight: bold;
    font-size: large;
    text-decoration: underline; /* 下線 */
    text-decoration-thickness: 0.5em; /* 線の太さ */
    text-decoration-color: rgba(182,227,136,0.5);
    text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
    text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
  }

  ol {
    padding-left: 10px;
    margin: 0;
  }

  li {
    text-align: left;
    margin: 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}