@use 'src/styles/mixins' as mixins;

.me-page-wrapper {
  display: flex;
  flex-direction: column;

  @include mixins.blog-contents-page-layout();
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  img {
    border-radius: 1.5rem;
  }
}

.name {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    text-align: center;
  }
}

.sns-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.about-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.about {
  p {
    line-height: 1.625;
    font-weight: 500;

    a {
      text-decoration: underline;
    }
  }
}
