@use 'styles/variables' as var;

.category-list-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var.$my_text_color;
  font-weight: bold;
  margin: 2.5rem 0;
}

.category-list-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
