@use 'styles/variables' as var;

.tag-card {
  border-radius: 0.5rem;
  padding: 0 0.75rem;
  background-color: var.$my_tag_color;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 0.5;
  }

  a {
    font-weight: bold;
    color: var.$my_text_color;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
