@use 'src/styles/variables' as var;
@use 'src/styles/mixins' as mixins;

.header-content-button-for-external {
  padding: 0.25rem 0.5rem;
  color: var.$my_text_color;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    @include mixins.text-decoration-underline;
  }
}
