
.table-of-contents {
  text-align: center;
  @media (min-width: 768px) {
    max-width: 30%;
  }
  margin: 80px auto;

  &::before {
    content:"目次";
    font-weight: bold;
    font-size: large;
  }

  ol {
    padding-left: 10px;
    margin: 0;
  }

  li {
    text-align: left;
    margin: 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}