// markdown style
.markdown-body {
  /* ::: question
  🤔 some text
  ::: */
  .question {
    display: flex;
    overflow-wrap: anywhere;
    margin: 1.5rem 0;
    padding: 12px 18px;
    border-radius: 6px;
    background: #abbdeb;
    /* color: rgba(0, 0, 0, 0.65); */
    font-size: 0.94em;
    line-height: 1.6;
    &:before {
      content: '\1F914';
      font-size: 200%;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }

  /* ::: alert
  😭 some text
  ::: */
  .alert {
    display: flex;
    overflow-wrap: anywhere;
    margin: 1.5rem 0;
    padding: 12px 18px;
    border-radius: 6px;
    background: #ebabab;
    /* color: rgba(0, 0, 0, 0.65); */
    font-size: 0.94em;
    line-height: 1.6;
    &:before {
      content: '\1F62D';
      font-size: 200%;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }

  /* ::: attention
  🤔 some text
  ::: */
  .attention {
    display: flex;
    overflow-wrap: anywhere;
    margin: 1.5rem 0;
    padding: 12px 18px;
    border-radius: 6px;
    background: #ffe296;
    /* color: rgba(0, 0, 0, 0.65); */
    font-size: 0.94em;
    line-height: 1.6;
    &:before {
      content: '\1F62C';
      font-size: 200%;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }

  /* ::: info
  🤓 some text
  ::: */
  .info {
    display: flex;
    overflow-wrap: anywhere;
    margin: 1.5rem 0;
    padding: 12px 18px;
    border-radius: 6px;
    background: #c6f18f;
    /* color: rgba(0, 0, 0, 0.65); */
    font-size: 0.94em;
    line-height: 1.6;
    &:before {
      content: '\1F913';
      font-size: 200%;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
  }

  h1 {
    font-size: 1.8em;
    padding-bottom: 10px;
    margin: 80px 0 20px 0;
    border-bottom: 1px solid lightgray;
  }

  h2 {
    border-bottom: 0.5px solid lightgray;
  }

  // inline code
  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  // code block
  pre {
    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
