// 色
$my_bg_color: #FFFFFF; // 全体の背景色
$my_bg_colorDark: #EBEBEB; // 背景色より少し濃い色
$my_text_color: #06283D;
$my_tag_color: #B6E388;
$my_blog_list_bg_color: #F5F5F5;
$my_blog_content_bg_color: #F5F5F5;
$my_blog_content_bg_color_hover: #EFEFEF;