// 色
$my_bg_color: #ffffff; // 全体の背景色
$my_bg_color-dark: #ebebeb; // 背景色より少し濃い色
$my_text_color: #06283d;
$my_tag_color: #b6e388;
$my_blog_list_bg_color: #f5f5f5;
$my_blog_content_bg_color: #f5f5f5;
$my_blog_content_bg_color_hover: #efefef;
